.footer {
  display: flex;
  width: 100%;
  height: 6vh;
  background-color: var(--tg-theme-button-color);
}

.button__wrapper {
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--tg-theme-text-color);
  width: calc(100vw / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__wrapper>* {
  display: block;
  width: 4vh;
  height: 4vh;
  color: var(--tg-theme-text-color);
}

.button__wrapper:first-child {
  border-left: none;
}

.button__wrapper:last-child {
  border-right: none;
}