.lobby {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  width: 100%;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--tg-theme-text-color);
  margin: 20px 0;
}

.lobby>* {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 10px;
  border: 1px solid var(--tg-theme-text-color);
  border-radius: 10px;

}

.lobby button {
  cursor: pointer;
}