.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  height: 6vh;
  color: var(--tg-theme-text-color);
  border-top: 1px solid var(--tg-theme-text-color);
  border-bottom: 1px solid var(--tg-theme-text-color);
  background-color: transparent;
}

.header>* {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header>h1 {
  width: 50%;
}

.logo, .__blank {
  align-items: start;
  width: 25%;
  height: 90%;
}

.logo>img {
  align-self: start;
  height: 100%;
}

.navigation {
  width: calc(88px * 8);
}

.wallet {
  width: 20%;
}

.navigation h1 {
  font-size: 48px;
}


