.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100vw / 8);
  height: calc(100vw / 8);
}

.light {
  background-color: var(--tg-theme-secondary-bg-color);
}

.dark {
  background-color: var(--tg-theme-bg-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.possible__move {
  //background-color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-text-color);
  width: 25%;
  height: 25%;
  border-radius: 50%;
  opacity: 0.85;
}

.check {
  background-color: red;
  opacity: 0.5;
}

