.boardWrapper {
  position: relative;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);


  width: 100vw;
  height: 100vw;
  
  overflow: hidden;
}

.fileLabels {
  bottom: -5px;
  position: absolute;
  display: flex;

  justify-content: space-between;
}

.fileLabels>* {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: calc(100vw / 8);
  font-size: 10px;
  z-index: 999;

  //color: var(--tg-theme-text-color);

  padding-right: 1px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rankLabels {
  position: absolute;
  top: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rankLabels>* {
  display: flex;
  margin-left: 1px;
  height: calc(100vw / 8);

  z-index: 999;

  //color: var(--tg-theme-text-color);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.light__rank, .light__file {

}

.dark__rank, .dark__file {

}
