.__blank {
  width: 100vw;
  height: 25vh;
}

.invite__code {
  position: relative;

  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--tg-theme-bg-color);
  text-align: center;

  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--tg-theme-text-color);

  cursor: pointer;
}

.invite__code>*:last-child {
  position: absolute;
  right: 5px;
  color: var(--tg-theme-text-color);
}