.params {
  width: 100vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.__blank {
  height: 30vh;
}


.btn__container {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}

.invite__code {
  position: relative;

  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--tg-theme-bg-color);
  text-align: center;

  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--tg-theme-text-color);

  cursor: pointer;
}

.invite__code>*:last-child {
  position: absolute;
  right: 5px;
  color: var(--tg-theme-text-color);
}