.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-text-color);

  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--tg-theme-text-color);
}

.wrapper>* {
  margin: 20px;
}

.invite__code {
  background-color: var(--tg-theme-bg-color);
  text-align: center;
  
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--tg-theme-text-color);
}