.item {
  width: 100vw;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);

  height: 30vh;

  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--tg-theme-text-color);

  background-image: url("/public/assets/images/blockbg.png");
  background-position: right;
}

.item>h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item:first-child {
  border-top: none;
}

.item>* {
  height: 33%;
  text-align: center;

  margin: 0 20px;
}