.piece {
  width: calc(100vw / 8);
  height: calc(100vw / 8);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.possible__move {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tg-theme-text-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #38435b;
  z-index: 999;
}