.params {
  width: 20%;
  padding: 0 10px;
  background-color: var(--tg-theme-bg-color);
  border: 1px solid var(--tg-theme-text-color);
  color: var(--tg-theme-text-color);
  border-radius: 10px;
  text-align: center;
}

.active {
  background-color: var(--tg-theme-button-color);
}